<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Networking</key>
	<dict>
		<key>ImageAPI</key>
		<dict>
			<key>Pre-Path</key>
			<string>/TiagoSantosSilva/Pegasus.Sprites/main/</string>
			<key>Host</key>
			<string>raw.githubusercontent.com</string>
		</dict>
		<key>PokemonGoAPI</key>
		<dict>
			<key>Headers</key>
			<dict>
				<key>Key</key>
				<string>dd9d4c695amsh1afff35713a5702p152ca4jsn16763d105b8f</string>
				<key>Host</key>
				<string>pokemon-go1.p.rapidapi.com</string>
			</dict>
			<key>Host</key>
			<string>pokemon-go1.p.rapidapi.com</string>
		</dict>
		<key>PokeAPI</key>
		<dict>
			<key>Endpoints</key>
			<dict>
				<key>Details</key>
				<string>pokemon/</string>
			</dict>
			<key>Pre-Path</key>
			<string>/api/v2/</string>
			<key>Host</key>
			<string>pokeapi.co</string>
		</dict>
	</dict>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
